In [2]:
import pandas as pd 

#pandas is speacial type array 
#pandas is can input dict , array , matrix to create to dataFrame 
#pandas series is one dimention array and dataframe is two dimension array 

simple_series = pd.Series([1,2,3,4,5])
simple_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
''' can assign index '''

simple_series2 = pd.Series([1,2,3,4,5],index=["a","b","c","d","f"])
simple_series2

a    1
b    2
c    3
d    4
f    5
dtype: int64

In [8]:
''' can input by dictionary '''
dict_data = {'a':4,'b':2,'c':3,'d':4,'f':5}
dict_series = pd.Series(dict_data)
dict_series

a    4
b    2
c    3
d    4
f    5
dtype: int64

In [16]:
## Dataframe is two dimension array 

''' DataFrame input by Series '''

ex_dataframe = pd.DataFrame(dict_series)
ex_dataframe

   0
a  4
b  2
c  3
d  4
f  5

In [21]:
''' DataFrame can set Column ''' 
ex2_dataframe = pd.DataFrame(dict_series,columns=['number'])
ex2_dataframe

   number
a       4
b       2
c       3
d       4
f       5

In [54]:
''' DataFrame can access data ''' 
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
states = pd.DataFrame({'population': population,
                       'area': area})


states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [65]:
''' DataFrame can assign value '''
''' DataFrame is spacialize dictionary '''
print(states['population'][0])
print(states['area'][0])

#can do by index
print(states.index)

38332521
423967
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [46]:
''' DataFrame can show index && values => array'''
print(ex2_dataframe.values)
print(ex2_dataframe.index)

[[4]
 [2]
 [3]
 [4]
 [5]]
Index(['a', 'b', 'c', 'd', 'f'], dtype='object')

In [78]:
''' DataFrame loc and iloc '''
print(states.loc['California':'Illinois']) #by string 
print("="*70)
print(states.iloc[0:5]) #by number

population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
======================================================================
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [85]:
''' DataFrame loc by condiion '''
states.loc[states.area > 100, ['population', 'area']]

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [92]:
''' set Data in DataFrame by iloc '''
states.iloc[0,1] = 99
states

            population    area
California    38332521      99
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [104]:
''' Series can operation '''
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
A + B

NameError: name 'rng' is not defined

In [101]:
#Simple Handle NaN
fill = A.stack().mean()
A.add(B, fill_value=fill)

AttributeError: 'Series' object has no attribute 'stack'

In [100]:
area / population

California    0.011060
Texas         0.026303
New York      0.007190
Florida       0.008710
Illinois      0.011644
dtype: float64